:root {
    /* Colors */
    --color-background-light: #f7f7f7;
    --color-background-medium: #e7e7e7;
    --color-background-dark: #d4d4d4;
    --color-background-active: #4CAF50;
    --color-button: #007BFF;
    --color-button-hover: #0056b3;
    --color-border: #ccc;
    --color-text: #000;
    --color-text-light: #fff;
    --color-text-muted: #333;

    /* Sizes */
    --size-border-radius: 5px;
    --size-element-height: 32px;
    --size-font-default: 14px;
    --size-font-large: 16px;
    --size-padding-small: 4px;
    --size-padding-medium: 8px;
    --size-padding-large: 12px;
    --size-margin-small: 4px;
    --size-margin-medium: 8px;

    /* Other */
    --transition-speed: 0.3s ease;
    --width-input: 120px;
    --width-filetype-input: 420px;
}