:root {
    --border-radius: 5px;
    --background-light: #f7f7f7;
    --background-medium: #e7e7e7;
    --background-dark: #d4d4d4;
    --background-active: #4CAF50;
    --background-button: #007BFF;
    --background-button-hover: #0056b3;
    --border-color: #ccc;
    --transition-speed: 0.3s ease;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main-container {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: calc(100vw - 20px);
    max-width: 100%;
}

.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin: 5px 0;
    background-color: var(--background-light);
    resize: vertical;
    min-height: 30px;
    overflow: auto;
}

.button {
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed);
    line-height: 40px;
    white-space: nowrap;
}

#compression-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#compression-buttons .label {
    margin-right: 5px;
}

.compression-button {
    height: 40px;
    margin-right: 10px;
    padding: 0 20px;
    border-radius: var(--border-radius);
    background-color: var(--background-medium);
    color: #000;
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    line-height: 40px;
}

.compression-button:hover {
    background-color: var(--background-dark);
}

.compression-button.selected {
    background-color: var(--background-active);
    color: #fff;
}

.webpage-button {
    background-color: var(--background-button);
    color: #fff;
}

.webpage-button:hover {
    background-color: var(--background-button-hover);
}

.horizontal-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5px;
    flex-basis: auto;
}

.counter .label {
    margin-right: 5px;
}

.input {
    width: 120px;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--background-medium);
    text-align: center;
    cursor: not-allowed;
    color: #000;
    transition: background-color var(--transition-speed);
    margin: 0 5px;
    line-height: 40px;
}

.input:hover {
    background-color: var(--background-dark);
}

.json-types-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.instructions {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
}

.instructions p {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.box {
    height: 40px;
    background-color: var(--background-button);
    color: #fff;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    cursor: grab;
    user-select: none;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-speed), transform 0.5s ease;
    line-height: 40px;
}

.box:active {
    cursor: grabbing;
    background-color: var(--background-button-hover);
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--border-color);
    margin: 10px 0;
}

.placeholder {
    height: 40px;
    background-color: transparent;
    border: 2px dotted var(--border-color);
    margin: 5px;
    border-radius: var(--border-radius);
    padding: 0 10px;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.size-6 {
    width: 1.2em;
    height: 1.2em;
}

.filetype-input {
    width: 420px;
    height: 40px;
    padding: 0 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: text;
    line-height: 40px;
}

@media (max-width: 890px) {
    .horizontal-section {
        flex-direction: column;
        align-items: stretch;
    }

    .horizontal-section > * {
        margin-bottom: 10px;
    }

    .json-types-container, .json-types-list {
        padding: 0 10px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .button, .input, .compression-button {
        width: 100%;
    }

    .filetype-input {
        width: calc(100% - 20px);
    }
}

@media (max-width: 500px) {
    .button, .input, .compression-button, .textarea {
        padding: 0 10px;
    }

    .filetype-input {
        font-size: 12px;
    }
}