:root {
    --border-radius: 5px;
    --background-light: #f7f7f7;
    --background-medium: #e7e7e7;
    --background-dark: #d4d4d4;
    --background-active: #4CAF50;
    --background-button: #007BFF;
    --background-button-hover: #0056b3;
    --border-color: #ccc;
    --transition-speed: 0.3s ease;

    --size-padding-large: 16px;
    --size-margin-small: 8px;
    --size-margin-medium: 12px;
    --size-margin-large: 16px;
    --size-border-radius: 5px;
    --size-element-height: 30px;
    --size-font-default: 14px;
    --size-font-large: 16px;
    --width-input: 80px;

    --color-text: #333;
    --color-text-light: #fff;
    --color-text-muted: #666;
    --color-border: #ccc;
    --color-background-light: #f7f7f7;
    --color-background-medium: #e7e7e7;
    --color-background-dark: #d4d4d4;
    --color-background-active: #4CAF50;
    --color-button: #007BFF;
    --color-button-hover: #0056b3;

    --uniform-padding: 2px; /* Reduced padding */
    --uniform-margin: 2px; /* Reduced margin */
}
